---
import { Badge } from '@/components/ui/badge';
import { H2 } from '@/components/ui/typography/Headings';
import Muted from '@/components/ui/typography/Muted.astro';
import { Button } from '@/components/ui/button';
import CTAButton from '../CTAButton.astro';
---

{/* CTA Section */}
<section class='w-full py-12 md:py-24 lg:py-32 bg-primary/10'>
	<div class='container mx-auto px-4 md:px-6 text-center'>
		<div class='mx-auto max-w-3xl space-y-4'>
			<Badge className='bg-primary text-primary-foreground mx-auto'
				>Empieza Hoy</Badge
			>
			<H2
				className='text-3xl font-bold tracking-tighter sm:text-5xl text-foreground'
			>
				Crea el Perfil de tu Gato en Minutos
			</H2>
			<Muted class='md:text-xl max-w-[800px] mx-auto'>
				Únete a los miles de dueños de gatos responsables que han creado una red
				de seguridad para sus queridas mascotas. Es rápido, fácil y podría
				marcar la diferencia si tu gato se pierde.
			</Muted>
			<div class='flex flex-col sm:flex-row gap-4 justify-center pt-6'>
				<Button size='lg' variant='outline'> Explora Funciones Premium </Button>

				<CTAButton buttonVariantProps={{ size: 'lg' }}>
					Crea el perfil de tu gato
				</CTAButton>
			</div>
			<Muted class='text-sm text-muted-foreground pt-4'>
				No se requiere tarjeta de crédito para los perfiles básicos. Se
				configura en menos de 5 minutos.
			</Muted>
		</div>
	</div>
</section>
