---
import { Check, PawPrint } from 'lucide-react';
import { Button, buttonVariants } from '@/components/ui/button';
import { Image } from 'astro:assets';
import { Badge } from '@/components/ui/badge';
import HeroImage from '@/assets/findmymiau-hero-image-2.png';
import { H1 } from '@/components/ui/typography/Headings.tsx';
import P from '@/components/ui/typography/P.astro';
import Link from '@/components/ui/Link';
import { cn } from '@/lib/utils';
---

<section
	class='w-full py-12 md:py-24 lg:py-32 xl:py-48 overflow-hidden relative'
>
	<div
		class='absolute inset-0 -z-10 bg-[radial-gradient(circle_at_top_right,oklch(var(--primary)/0.1),transparent_70%),radial-gradient(circle_at_bottom_left,oklch(var(--accent)/0.1),transparent_70%)]'
	>
	</div>
	<div class='container px-4 md:px-6 mx-auto'>
		<div
			class='grid gap-12 sm:gap-6 lg:grid-cols-[1fr_500px] lg:gap-12 xl:grid-cols-[1fr_550px]'
		>
			<div class='flex flex-col justify-center space-y-8 order-1 sm:order-0'>
				<Badge className='w-fit bg-accent text-accent-foreground'
					>Tranquilidad para los dueños de gatos</Badge
				>
				<div class='space-y-4'>
					<H1 className=''>
						Mantén tu gato seguro con un perfil de identificación digital
					</H1>
					<P class='max-w-[600px] text-muted-foreground md:text-xl'>
						Crea un perfil digital con un código QR único para tu gato. Si
						alguna vez se pierde, quien lo encuentre podrá escanear el código
						para acceder a tu información de contacto.
					</P>
				</div>
				<div class='flex flex-col gap-2 min-[460px]:flex-row'>
					<Button size='lg' variant='secondary'> ¿Cómo Funciona? </Button>
					<Link
						href='/register'
						className={cn(
							buttonVariants({ size: 'lg' }),
							'flex items-center hover:-translate-y-[3px] hover:shadow-[0_20px_80px_-10px_var(--primary)]',
						)}
					>
						<span>Crea el perfil de tu gato</span>
						<span
							><PawPrint
								fill='var(--foreground)'
								stroke='var(--foreground)'
								className='!w-[18px] !h-[18px]'
							/></span
						>
					</Link>
				</div>
				<div
					class='flex items-center space-x-2 sm:space-x-4 text-base text-muted-foreground flex-wrap'
				>
					<div class='flex items-center'>
						<Check className='mr-1 h-4 w-4 text-primary' />
						<span>Perfiles básicos gratuitos</span>
					</div>
					<div class='flex items-center'>
						<Check className='mr-1 h-4 w-4 text-primary' />
						<span>Código QR instantáneo</span>
					</div>
					<div class='flex items-center'>
						<Check className='mr-1 h-4 w-4 text-primary' />
						<span>Privacidad protegida</span>
					</div>
				</div>
			</div>
			<div
				class='sm:h-[450px] sm:w-[450px] bg-primary rounded-full ring-8 ring-foreground'
			>
				<Image
					src={HeroImage}
					alt='Gato con collar con etiqueta de código QR'
					class='object-cover translate-y-[26px] scale-x-[-1]'
				/>
			</div>
		</div>
	</div>
</section>

<style>
	.animate-float {
		transform: translatey(0px);
		animation: float 6s ease-in-out infinite;
	}

	@keyframes float {
		0% {
			box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
			transform: translatey(0px);
		}
		50% {
			box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
			transform: translatey(-20px);
		}
		100% {
			box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
			transform: translatey(0px);
		}
	}

	@keyframes rotate {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
</style>
