---
import SignOutButton from '@/components/SignOutButton.astro';
import { db } from '@/drizzle/db';
import { petsTable } from '@/drizzle/schema';
import { eq } from 'drizzle-orm';
let hasPetProfiles = false;
try {
	const user = Astro.locals.user;
	const hasUser = user !== null;
	if (hasUser) {
		const petProfiles = await db
			.select()
			.from(petsTable)
			.where(eq(petsTable.user_id, user.id))
			.limit(1)
			.execute();
		console.log(petProfiles);
		hasPetProfiles = petProfiles.length > 0;
	}
} catch (error) {
	console.error('Database query failed');
}

---

{hasPetProfiles && <header
	class='sticky top-0 z-40 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60'
>
	<div
		class='container flex h-16 items-center space-x-4 sm:justify-between sm:space-x-0 mx-auto'
	>
		<!-- <a href='/'>
					<Logo />
				</a> -->

		<div class='hidden md:flex flex-1 items-center justify-end space-x-4'>
			<nav class='flex items-center space-x-2 md:space-x-6'>
				<SignOutButton />
			</nav>
		</div>
	</div>
</header>}
