---
import { H1 } from '@/components/ui/typography/Headings';
import Layout from './Layout.astro';
import RegisterForm from '@/components/RegisterForm';

const email = Astro.locals.user?.email;
---

<Layout>
	<main>
		<div class='px-5 py-10'>
			<div class='min-h-dvh max-w-3xl mx-auto'>
				<H1 className='mb-8 text-5xl'>Creación de perfil</H1>
				<RegisterForm client:load />
			</div>
		</div>
	</main>
</Layout>
