---
import { H1 } from '@/components/ui/typography/Headings';
import Layout from '../layouts/Layout.astro';
import RegisterForm from '@/components/RegisterForm';

const email = Astro.locals.user?.email;
---

<Layout title='dashboard'>
	<main>
		<H1>Bienvenido {email}</H1>
		<RegisterForm client:load />
	</main>
</Layout>
