---
import { H1 } from '@/components/ui/typography/Headings';
import Layout from '@/layouts/Layout.astro';
---

<Layout>
	<main>
		<!-- <RegisterForm client:load /> -->
		<H1>Esta sera la página de registro de usuarios</H1>
	</main>
</Layout>
