---
import { ROUTES } from '@/lib/routes';
import { buttonVariants } from '@/components/ui/button';
import { cn } from '@/lib/utils';

const hasSession = Boolean(Astro.locals.session);
---

{
	hasSession && (
		<a
			href={ROUTES.API_SIGN_OUT}
			class={cn(
				buttonVariants({
					variant: 'outline',
				}),
				'font-medium text-sm',
			)}>
			Cerrar sesión
		</a>
	)
}
