---
import { cn } from '@/lib/utils';

interface Props extends astroHTML.JSX.HTMLAttributes {}

const { class: classProp, ...props } = Astro.props;
---

<p class={cn('text-muted-foreground', classProp)} {...props}>
	<slot />
</p>
